<!DOCTYPE html>
<html>
  <head>
    <title>File Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body>

    
    <div class="navbar">
      
      <!-- Single button that triggers the hidden file input -->
       <span>
        <button id="uploadButton">Upload File</button>
      </span>
      {% if username == 'admin' %}
        <h3>Hello Admin</h3>
      {% else %}
        <h3>Hello User</h3>
      {% endif %}
      <span>
      <input type="file" id="fileInput" style="display: none;">

        {% if username == 'admin' %}
        <button onclick="window.open('/view-log', '_blank')">View logs</button>
        {% endif %}
      <a href="{{url_for('logout')}}">logout</a> 
      </span>
    </div>
    
    <div class="file-list-container">
      <h2>Your Files</h2>
      <div id="fileList"></div>
    </div>
    
    <progress id="progressBar" value="0" max="100"></progress>
    <div id="progressText">0%</div>
    

    <script>
      const currentUser = "{{ username }}";
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

  </body>
</html>
